<h2><%= t("admin.verifications.index.title") %></h2>

<%= render 'user_search_admin_verification', url: search_admin_verifications_path %>

<h3><%= page_entries_info @users %></h3>

<table>
  <% @users.each do |user| %>
    <tr id="<%= dom_id(user) %>">
      <td>
        <%= link_to user.name, admin_user_path(user) %>
      </td>
      <td><%= user.document_number %></td>
      <td><%= I18n.l(user.date_of_birth.to_datetime.to_date) %></td>
      <td>
        <%= link_to t("admin.actions.verify"),
          admin_verifications_path({ user_id: user.id }.merge request.query_parameters),
          method: :post,
          data: { confirm: t("admin.actions.confirm") },
          class: "button success" %>
        <%= link_to t("admin.actions.cancel_verification"),
          admin_verifications_path({ user_id: user.id }.merge request.query_parameters),
          method: :delete,
          data: { confirm: t("admin.actions.confirm") },
          class: "button hollow alert" %>
      </td>
      <td>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
