<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>
  </div>

  <div class="small-12 medium-9 column">
    <h1><%= t('pages.more_information.titles.revocation_info') %></h1>
    <p><%=t('pages.more_information.revocation_info.summary_1')%></p>
    <p><%=t('pages.more_information.revocation_info.summary_2')%></p>
    <p><%=t('pages.more_information.revocation_info.summary_3')%></p>
    <p><%=t('pages.more_information.revocation_info.summary_4')%></p>
    <p><%=t('pages.more_information.revocation_info.summary_5')%></p>
    <p><%=t('pages.more_information.revocation_info.summary_6')%></p>
  </div>
</div>
